.idea
.vscode


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# ignore local profile installed modules
powershell/Modules/
tmux/plugins
tmux/tmux-client-42211.log
